<h2>Admin Page</h2>

<p>Hii from Admin</p>
<button class="btn btn-primary" routerLink="/ng-class"> Navigate to Ng class</button>

<div class="row p-3">
    <div class="col-3">
        <app-progress-bar [progressValue]='60' ></app-progress-bar>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
        <app-tabs [tabList]="customerTabs" ></app-tabs>
    </div>
  </div>

  <h2>Parent Component</h2>
<button (click)="toggleChildContent()">Toggle Child Content</button>
<app-child></app-child>
