
<div class="row p-3">
    <div class="col-3">
      <app-progress-bar [progressValue]='20' ></app-progress-bar>
    </div>
  </div>

<div class="row">
    <div class="col-3">
       cousreName => {{courseName}}

       cousreName(uppercasePipe) => {{courseName | uppercase}}
       <br><br>
       cousreName(reverse with customPipe) => {{courseName | reverse}}
       <br>
       cousreName(json) => {{courseName | json}}
       <br><br>
       currentDate => {{currentDate}}
       <br><br>
       Date only => {{currentDate | date: 'dd-MM-YYYY'}}
      
    </div>
    <br> 
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList"> {{city}}</li>
        </ul>
    </div>

    <div class="col-5">
        <button *ngFor="let cityName of cityList" class="btn btn-success mx-3">
            {{cityName}}
        </button>
    </div>
    <div class="row">
        <div class="col-3">
            <select>
                <option *ngFor="let emp of employeeArray" [value]="emp.empId">
                    {{emp. name}} -{{emp. city}}
                </option>
            </select>
        </div>
    </div>

    <div class="col-5">
        <table class="table table-bordered">
            <thead>

                <tr>

                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                    <th>Attendance</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let empoloyee of employeeArray;let srno = index">
                    <td>{{srno+1}}</td>
                    <td>{{empoloyee.name}}</td>
                    <td>{{empoloyee.city}}</td>
                    <td>{{empoloyee.contactNo}}</td>
                    <td>
                        <app-progress-bar [progressValue]="empoloyee.attendance"></app-progress-bar>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>